<html>
<head>
	<title>General</title>
	<link href="~/Estilos.css" rel="stylesheet" />

</head>
<body>
	<h1>Rodrigo Alejandro Guzman Cruz</h1>
	
	<form>
		<label>Programación Web</label><br />

		<label>Séptimo semestre</label><br />

		<label>Agosto - Diciembre - 2022</label>

	</form>
</body>
</html>

