<html>
<head>
    <title>Mi perfil</title>
    <link href="~/Estilos.css" rel="stylesheet" />

</head>
<body>
    <img src="~/iconPerfil.png" />
    <h1>Rodrigo Alejandro Guzman Cruz</h1>
 
    <form>
      
            <label>Carrera:</label>
            <label>Sistemas computacionales</label><br />
        
       
            <label>Módulo de especialidad:</label>
            <label>Internet de las cosas</label><br />
       
            <label>Número de control:</label>
            <label>181G0616</label><br />
       
            <label>Correo electrónico:</label>
            <label>181G0616@rcarbonifera.tecnm.mx</label><br />
      
            <label>Teléfono celular:</label>
            <label>861-124-1955</label><br />
        
    </form>
</body>
</html>